<div class="container space-between-div">
        <%= link_to "Criar nova dieta", new_diet_path, class:"btn btn-default" %>
</div>

<hr class="hr2">  
  <table class="table table-bordered table-hover">
    <div class="alert alert-danger" role="alert">
      <h3 class="alert-heading"><strong>DADOS GERAIS</strong></h3>
    </div>
    <thead>
      <tr>
        <td>Data inicio</td>
        <td>Data fim</td>
        <td>Peso</td>
        <td>Peso ideal</td>
        <td>Altura</td>
        <td colspan="2"></td>
      </tr>
  </thead>

    <tbody>
      <%= render @infos%>
    </tbody>
  </table>

<div class="container">
  <% if @cafe_da_manha.exists? %>
    <hr class="hr2">
    <div class="container">
      <table class="table table-bordered table-hover">
        <div class="alert alert-success" role="alert">
          <h3 class="alert-heading">Café da Manhã</h3>
        </div>
        <thead>
          <tr>
              <td>Horário</td>
              <td>Refeição</td>
              <td>Descrição</td>
              <td colspan="2"></td>
          </tr>
        </thead>

        <tbody>
          <%= render @cafe_da_manha %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @lanche_da_manha.exists? %>
    <div class="container">
      <table class="table table-bordered table-hover">
        <div class="alert alert-success" role="alert">
          <h3 class="alert-heading">Lanche da manhã</h3>
        </div>
        <thead>
          <tr>
              <td>Horário</td>
              <td>Refeição</td>
              <td>Descrição</td>
              <td colspan="2"></td>
          </tr>
        </thead>

        <tbody>
          <%= render @lanche_da_manha %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @almoco.exists? %>
    <div class="container">
      <table class="table table-bordered table-hover">
        <div class="alert alert-success" role="alert">
          <h3 class="alert-heading">Almoco</h3>
        </div>
        <thead>
          <tr>
              <td>Horário</td>
              <td>Refeição</td>
              <td>Descrição</td>
              <td colspan="2"></td>
          </tr>
        </thead>

        <tbody>
          <%= render @almoco %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @lanche_da_tarde.exists? %>
    <div class="container">
      <table class="table table-bordered table-hover">
        <div class="alert alert-success" role="alert">
          <h3 class="alert-heading">lanche da Tarde</h3>
        </div>
        <thead>
          <tr>
              <td>Horário</td>
              <td>Refeição</td>
              <td>Descrição</td>
              <td colspan="2"></td>
          </tr>
        </thead>

        <tbody>
          <%= render @lanche_da_tarde %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @jantar.exists? %>
    <div class="container">
      <table class="table table-bordered table-hover">
        <div class="alert alert-success" role="alert">
          <h3 class="alert-heading">Jantar</h3>
        </div>
        <thead>
          <tr>
              <td>Horário</td>
              <td>Refeição</td>
              <td>Descrição</td>
              <td colspan="2"></td>
          </tr>
        </thead>

        <tbody>
          <%= render @jantar %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>